.slick_slider {
	max-width: 1120px;
}

.container {
	width: 100%;
}

.nextArrow,
.prevArrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	z-index: 10;
}

.nextArrow {
	right: -40px;
}

.prevArrow {
	left: -50px;
}
