.main {
	width: 100%;
	margin: 0 auto;
	background: #fff;
}

.container {
	max-width: 1280px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding: 60px 0 60px 0;
}

.title {
	font-family: Ubuntu;
	font-size: 48px;
	font-weight: 700;
	line-height: 54.85px;
	text-align: center;
	margin: 0 0 60px 0;
}

@media screen and (max-width: 767px) {
	.container {
		padding: 40px 0 40px 0;
	}

	.title {
		font-size: 20px;
		line-height: 100%;
		text-align: center;
		margin: 0 0 20px 0;
	}
}
