.signup {
	width: 100%;
	margin: 0 auto;
	background: #f4f6ff;
}

.signup__container {
	max-width: 1280px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	align-items: center;
	padding: 48px 0 120px 0;
}

.signup__form {
	display: flex;
	flex-direction: column;
	width: 574px;
	gap: 48px;
}

.signup__title {
	color: var(--Black_text, #0f100f);
	font-family: ClearSans;
	font-size: 52px;
	font-style: normal;
	font-weight: 500;
	line-height: 70px; /* 134.615% */
	margin: 0 0 80px 0;
}

.signup__link {
	font-family: Ubuntu;
	font-size: 20px;
	font-weight: 400;
	line-height: 23px;
	letter-spacing: 0em;
	text-align: center;
	margin: 0;
	text-decoration: none;
	color: #0f100f;
}

.auth__form-error {
	color: #ea4335;
}

.auth__link {
	padding: 0 0 0 4px;
	color: #000;
	transition: opacity 0.2s;
	text-decoration: none;
}

.auth__link:hover {
	opacity: 0.7;
}

@media screen and (max-width: 767px) {
	.signup {
		width: 100%;
		margin: 0 auto;
		background: var(--White_bg, #f8f8f8);
	}

	.signup__container {
		max-width: 1280px;
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		align-items: center;
		padding: 48px 0 120px 0;
	}

	.signup__form {
		display: flex;
		flex-direction: column;
		width: 316px;
		gap: 20px;
	}

	.signup__title {
		font-weight: 700;
		font-size: 20px;
		line-height: 100%;
		letter-spacing: 0%;
		text-align: center;
		margin: 0 0 35px 0;
	}
}
