.container {
	width: 142px;
	height: 170px;
}

.color {
	width: 117px;
	height: 105px;
	border-radius: 28.16px;
}

.title {
	font-family: Ubuntu;
	font-weight: 400;
	font-size: 32px;
	line-height: 43.27px;
	letter-spacing: 0%;
	text-align: center;
	margin: 0;
}
