.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 144px;
}

.color {
	width: 117px;
	height: 105px;
	border-radius: 28.16px;
}

.title {
	font-family: ClearSans;
	font-weight: 400;
	font-size: 32px;
	line-height: 43.27px;
	letter-spacing: 0em;
	text-align: center;
	margin: 21px 0 0 0;
}
