.first_screen {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
}

.img {
	width: 100%;
	height: auto;
}

.text {
	position: absolute;
	font-family: ClearSans;
	font-size: 48px;
	font-weight: 700;
	line-height: 54.85px;
	text-align: center;
	color: #fff;
	max-width: 770px;
}

@media screen and (max-width: 767px) {
	.img {
		width: 100%;
		height: 515px;
		object-fit: cover;
	}

	.text {
		font-weight: 700;
		font-size: 20px;
		line-height: 22.85px;
		letter-spacing: 0%;
		max-width: 80%;
		margin: 0;
	}
}
