.first_screen {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.img {
	width: 100%;
	height: auto;
}

.text {
	position: absolute;
	font-family: Ubuntu;
	font-size: 48px;
	font-weight: 700;
	line-height: 54.85px;
	text-align: center;
	color: #fff;
}
