.list {
	display: flex;
	gap: 120px;
}

.container {
	background-color: #6975b3;
	padding: 7px 7px 22.75px 7px;
	border-radius: 34.5px;
	color: #fff;
}

.img {
	border-radius: 34.5px;
}

.title {
	font-family: Ubuntu;
	font-weight: 400;
	font-size: 30px;
	line-height: 40.56px;
	letter-spacing: 0%;
	text-align: center;
	margin: 0;
}
