.list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 50px;
	justify-content: center;
}

.container {
	display: flex;
	flex-direction: column;
	background-color: #6975b3;
	padding: 7px 7px 10px 7px;
	max-width: 393px;
	align-items: center;
	border-radius: 20px;
	box-sizing: border-box;
	cursor: pointer;
}

.text {
	font-family: ClearSans;
	font-weight: 400;
	font-size: 19.74px;
	line-height: 100%;
	letter-spacing: 0%;
	text-align: center;
	color: #fff;
}

.img {
	border-radius: 20px;
}

.button {
	width: 95%;
	background-color: #282a59;
	font-family: ClearSans;
	font-weight: 400;
	font-size: 28.54px;
	line-height: 100%;
	letter-spacing: 0%;
	text-align: center;
	border: none;
	color: #fff;
	padding: 3px 0 11px 0;
	border-radius: 19.03px;
	height: 52px;
}

@media screen and (max-width: 767px) {
	.list {
		gap: 15px;
		justify-content: center;
	}

	.container {
		padding: 5px 5px 7px 5px;
		max-width: 164px;
		border-radius: 8.34px;
	}

	.img {
		width: 154px;
		height: 144px;
		border-radius: 8.34px;
	}

	.text {
		font-size: 9.41px;
		line-height: 100%;
	}

	.button {
		font-weight: 400;
		font-size: 13.59px;
		height: 22px;
		padding: 1px 0 3px 0;
		border-radius: 7.95px;
	}
}
