.header {
	width: 100%;
	margin: 0 auto;
	padding: 11px 0;
	background: #fff;
}

.header_dark {
	background: #e3e5e4;
}

.header__container {
	max-width: 1280px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
}

.header__logo {
	width: 214px;
	height: 90px;
	display: b;
}

.header__links {
	display: flex;
	gap: 24px;
	text-decoration: none;
}
.header__link {
	font-family: Ubuntu;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-decoration: none;
	color: inherit;
	padding: 0 0 48px 0;
}

.header__link:hover {
	border-bottom: 1px solid red;
	color: #75ff72;
}

.header__search__container {
	display: flex;
	gap: 12px;
	align-items: center;
}

.header__search {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	min-width: 300px;
	height: 45px;
	border-radius: 40px;
	border: 1px solid var(--Black_text, #0f100f);
}

.header__search_input {
	background-color: transparent;
	border: none;
	color: var(--grey, #797979);
	/* font-family: Poppins; */
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	max-width: 300px;
	width: 100%;
	outline: none;
}

.header__search_button_search {
	margin: 0 8px 0 12px;
}

.catalog_container {
	position: relative;
	display: inline-block;
	&:hover::after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		height: 20px; // Высота области перехода
		background: transparent;
	}
}

.active {
	&::after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		bottom: -5px; // Отступ от текста
		height: 2px; // Толщина border
		background-color: #000; // Цвет border
	}
}

.dropdown {
	z-index: 1;
	background-color: red;
	width: 300px;
	height: 300px;
	position: absolute;
	top: calc(100% + 40px);
	left: 0;
	transition: opacity 0.2s, transform 0.2s;
}
.catalog_container::before {
	content: '';
	position: absolute;
	bottom: -10px;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #fff;
	opacity: 0;
	transition: opacity 0.2s;
}

.catalog_container.active::before {
	opacity: 1;
}

@media screen and (max-width: 1279px) {
	.header {
		padding: 24px 0 16px 0;
	}

	.header__container {
		max-width: 768px;
		justify-content: space-around;
		height: 24px;
	}

	.header__logo {
		width: 160px;
		height: 23px;
	}

	.header__links {
		display: flex;
		gap: 24px;
		text-decoration: none;
	}
	.header__link {
		font-family: Ubuntu;
		font-size: 18px;
		font-weight: 400;
		line-height: 21px;
		letter-spacing: 0em;
	}

	.header__search_button_search {
		width: 18px;
		height: 18px;
		margin: 0;
	}

	.header__search__container {
		display: flex;
		gap: 24px;
		align-items: center;
	}
}

@media screen and (max-width: 767px) {
	.header {
		padding: 24px 0 16px 0;
	}

	.header__container {
		max-width: 768px;
		justify-content: space-around;
		height: 24px;
	}

	.header__links {
		display: none;
	}
}
