.header {
	width: 100%;
	margin: 0 auto;
	padding: 11px 0;
	background: #fff;
}

.header_dark {
	background: #e3e5e4;
}

.header__container {
	max-width: 1280px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
}

.header__logo {
	width: 214px;
	height: 90px;
	display: b;
}

.header__links {
	display: flex;
	gap: 24px;
	text-decoration: none;
}
.header__link {
	font-family: Ubuntu;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-decoration: none;
	color: inherit;
}

.header__search__container {
	display: flex;
	gap: 12px;
	align-items: center;
}

.header__search {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	min-width: 300px;
	height: 45px;
	border-radius: 40px;
	border: 1px solid var(--Black_text, #0f100f);
}

.header__search_input {
	background-color: transparent;
	border: none;
	color: var(--grey, #797979);
	/* font-family: Poppins; */
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	max-width: 300px;
	width: 100%;
	outline: none;
}

.header__search_button_search {
	margin: 0 8px 0 12px;
}

.catalog_container {
	position: relative;
	display: inline-block;

	// Создаем "мост" между кнопкой и меню
	&:hover::after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		height: 20px; // Высота области перехода
		background: transparent;
	}
}

.dropdown {
	position: absolute;
	top: calc(100% + 10px); // Учитываем "мост"
	left: 0;
	// ... остальные стили ...
	transition: opacity 0.2s, transform 0.2s;
	z-index: 10;
}

.catalog_container::before {
	content: '';
	position: absolute;
	bottom: -10px;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #fff;
	opacity: 0;
	transition: opacity 0.2s;
}

.catalog_container.active::before {
	opacity: 1;
}

.header__links_container {
	color: #000;
	display: flex;
	flex-direction: row;
	list-style-type: none;
	margin: 0;
	padding: 0;
	gap: 30px;
	cursor: pointer;
	z-index: 10;
}

.header__sub_menu {
	display: none;
	position: absolute;
	top: 124px;
	left: 0;
	width: 100%;
	padding: 0;
	height: 30vh;
	background-color: #000;
	z-index: 3;
	list-style-type: none;
	align-items: center;
	justify-content: center;
}

.header__sub_menu__container {
	width: 500px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 30px;
	margin: 0 235px 0 0;
}
.header__sub_link {
	text-decoration: none;
	color: #000;
	font-family: Mplus 1p;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	margin: 0 100px 0 0;
}

// .header__link:hover::before {
//   content: "";
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, 0.5);
//   z-index: -1000;
// }

.header__link:hover .header__sub_menu {
	display: flex;
}

@media screen and (max-width: 1279px) {
	.header {
		padding: 24px 0 16px 0;
	}

	.header__container {
		max-width: 768px;
		justify-content: space-around;
		height: 24px;
	}

	.header__logo {
		width: 160px;
		height: 23px;
	}

	.header__links {
		display: flex;
		gap: 24px;
		text-decoration: none;
	}
	.header__link {
		font-family: Ubuntu;
		font-size: 18px;
		font-weight: 400;
		line-height: 21px;
		letter-spacing: 0em;
	}

	.header__search_button_search {
		width: 18px;
		height: 18px;
		margin: 0;
	}

	.header__search__container {
		display: flex;
		gap: 24px;
		align-items: center;
	}
}

@media screen and (max-width: 767px) {
	.header {
		padding: 24px 0 16px 0;
	}

	.header__container {
		max-width: 768px;
		justify-content: space-around;
		height: 24px;
	}

	.header__links {
		display: none;
	}
}
