.calculator {
	width: 100%;
	margin: 0 auto;
}

.container {
	max-width: 1280px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	align-items: center;
	padding: 48px 0 120px 0;
}

.form {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 44px;
	width: 100%;
}

.form__container {
	display: flex;
	gap: 30px;
	flex-direction: column;
}

.select__container {
	display: flex;
	flex-direction: row;
	border: 2px solid #000;
	border-radius: 32px;
}

.select {
	padding: 20px 41px;
	border-radius: 30px;
	cursor: pointer;
	transition: background-color 0.3s, border-color 0.3s;
}

.selected {
	background-color: #6975b3;
	color: white;
}

.not_selected {
	background-color: transparent;
	color: #000;
}

.select__text {
	margin: 0;
	font-family: Ubuntu;
	font-size: 24px;
	font-weight: 400;
	line-height: 32.45px;
}
