.benefit {
	padding: 0;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.img {
	width: 120px;
	height: 120px;
}

.img__wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 208px;
	height: 208px;
	background-color: #6975b3;
	border-radius: 150px;
	margin: 0 0 30px 0;
}
.text {
	font-family: Ubuntu;
	font-size: 24px;
	font-weight: 400;
	line-height: 43.27px;
	margin: 0;
	text-align: center;
}

.list {
	display: flex;
	flex-direction: row;
	gap: 40px;
}
